*{
    margin: 5px;
    padding:5px;
    box-sizing: border-box;
}

h1 {
	font-family: Geneva, Verdana, sans-serif;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

body {
	text-align: center;
	background-color: #F1E9D9;
}

fieldset {
	margin-right: 60px;
	width: 250px;
	margin: auto;
}

img {
	height: 100px;
	width: 100px;
}

table, th, td {
	border: 1px solid black;
	margin: auto;
}

.simpleTable {
	border: 0px;
}

td a {
  display: block;
  margin-top: 10px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.playlistsContainer, .createPlaylistField, .createSongField {
	margin: 10px;
}

.songTable{
	border:none;
}

.createPlaylistField, .createSongField {
	background-color: #E8DCCA;
}
.createSongField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
	color: #ff0000;
}

.before {
	position: relative;
	left: -170px;
}

.next {
	position: relative;
	left: 350px;
}

.logout{
    position: absolute;
    top: 10px;
    right: 10px;
	z-index:1;
}